
/* form box */
.my-form {
    font: 14px sans-serif; 
    padding: 5% 10%;
    margin: 0 20%;
}

.my-body {
    margin: 2% 5%;
    height: 100vh;
}

.my-btn-width *{
    width: 200px !important;
}

html {
    scroll-behavior: smooth;
}