
.my-header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.my-header-text {
    z-index: 1;
}

.my-header-text h3{
    padding: 0 5px;
    text-align: center;
    font-size: 5rem;
    background-color: white;
    opacity: 80%;
    transition: 0.2s;
}

.my-header-text small{
    font-size: 3rem;
}

.my-header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.my-header-video video {
    width: 100%;
}